.title {
    background-color: #ceeef5;
    text-align: center;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.holder {
    display: grid;
    width: 75%;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    border-radius: 10px;
}

.textField {
    padding: 20px;
    font-size: large;
}

.buttonList {
    padding: 10px;
}

button {
    height: 50px;
    margin-left: 5px;
    width: 100px;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}